:root {
  --accent-color-orange: #fe4e15;
  --accent-color-yellow: #fec600;
}

html,
body {
  height: 100%;
}

body {
  margin: 0 !important;
  font-family: "Red Hat Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#root {
  position: relative;
  /* overflow-x: hidden; */
  /* overflow-y: clip; */
  overflow: hidden;
  padding: 20px 20px 10px 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* _____________________________________________________________________________ */
/* SCREEN LAYOUT */
.layout-container__blue-circle {
  background-image: url(../public/assets/blue-circle.png);
  width: 92px;
  height: 92px;
  background-size: contain;
  position: absolute;
  top: -35px;
  left: -35px;
}

.layout-container__mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* _____________________________________________________________________________ */
/* NAVIGATION */
.layout-container__desktop-menu {
  display: none;
}

/* _____________________________________________________________________________ */
/* HEADER */
.header-container {
  margin: 174px 0 70px 0;
}

.header-container__title {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 15px;
}

.header-container__box-paragraph {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: -0.01em;
}

/* _____________________________________________________________________________ */
/* PROJECTS */
.projects__yellow-cirlce {
  background-image: url(../public/assets/yellow-circle.png);
  width: 395px;
  height: 395px;
  position: absolute;
  z-index: -1;
  background-size: contain;
  right: -75%;
}

.projects__orange-circle {
  background-image: url(../public/assets/orange-circle.png);
  width: 250px;
  height: 250px;
  z-index: -1;
  background-size: contain;
  position: absolute;
  left: -46%;
}

.singleMobileProject_img {
  height: 368px;
  margin-bottom: 20px;
}

.single-project__laptop-img {
  width: 100%;
  margin-bottom: 20px;
}

.single-project__container,
.single-mobile-project__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
  position: relative;
}

.single-project__details,
.single-mobile-project__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #fdeed2;
  border-radius: 20px;
  padding: 14px;
  min-height: 293px;
  position: relative;
}

.single-project__details-light {
  border: 1px solid #211d16;
}

.single-project__description-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  text-transform: capitalize;
  text-align: right;
  margin-bottom: 20px;
}

.single-project__description-list {
  margin-bottom: 10px;
}

.single-project__description-list li {
  list-style: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  text-transform: capitalize;
}

.single-mobile-project__icon-container,
.single-project__icon-container {
  display: flex;
  gap: 17px;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}

.single-project__icon-container_single-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: inherit;
  width: max-content;
}

.single-project__icon-container_line {
  border: 1px solid #fdeed2;
}

.single-project__icon-container_line-dark {
  border: 1px solid #211d16;
}

/* _____________________________________________________________________________ */
/* CONTACT */
.contact-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.contact-container__header {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contact-container__description-box {
  display: flex;
  flex-direction: column;
}

.contact-container__description-box-image {
  width: 205px;
  box-shadow: 2px 15px 0px #fe4e15;
  border-radius: 50%;
  margin-bottom: 46px;
  align-self: center;
}

.contact-container__description-box-bio {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  margin-bottom: 23px;
  order: 2;
}

.contact-container__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  order: 2;
}

contact-container__icons_single-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container__icons_single-icon-container > span {
  display: none;
}

.contact-container__icons_single-icon-container:hover > span {
  display: inline;
  font-weight: 500;
  font-size: 7px;
  line-height: 9px;
  letter-spacing: 0.05em;
  position: absolute;
  bottom: -10px;
  width: max-content;
}

.contact-container__icons_single-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* _____________________________________________________________________________ */
/* SKILLS */
.skills__header {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.skills__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

.skills__container-single-skill > img {
  width: 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.skills__container-single-skill > img:hover {
  filter: drop-shadow(2px 2px 0px #fe4e15);
}

.skills__container-single-skill {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: relative;
}

.skills__container-single-skill > span {
  display: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 7px;
  line-height: 9px;
  letter-spacing: 0.05em;
  position: absolute;
  bottom: -17px;
  width: max-content;
}

.skills__container-single-skill:hover > span {
  display: inline;
}

/* _____________________________________________________________________________ */
/* FOOTER */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
}

.footer-container__top {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.footer-container__top-text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
}

.footer-container__author {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 7px;
  line-height: 9px;
  letter-spacing: 0.05em;
}

.footer-container__blue-circle {
  background-image: url(../public/assets/blue-circle.png);
  width: 92px;
  height: 92px;
  background-size: contain;
  position: absolute;
  right: -25px;
  bottom: -50px;
}

/* _____________________________________________________________________________ */
/* OVERRIDES */
.MuiPaper-root {
  box-shadow: none !important;
}

/* _____________________________________________________________________________ */
/* DESKTOP STYLES */
@media all and (min-width: 768px) {
  #root {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  /* SCREEN LAYOUT */
  .layout-container__blue-circle {
    width: 180px;
    height: 180px;
  }

  /* NAVIGATION */
  #basic-button,
  #basic-menu {
    display: none;
  }
  .layout-container__desktop-menu {
    display: flex;
    gap: 40px;
  }

  .layout-container__desktop-menu > p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.15em;
    cursor: pointer;
  }

  /* HEADER */
  .header-container {
    margin: 269px 0 271px 0;
  }
  .header-container__title {
    font-weight: 800;
    font-size: 80px;
    line-height: 88px;
    margin-bottom: 31px;
  }
  .header-container__box-paragraph {
    font-size: 55px;
    line-height: 69px;
  }

  /* PROJECTS */
  .projects__yellow-cirlce {
    right: -19%;
    top: 10%;
  }
  .projects__orange-circle {
    left: -11%;
    top: 16%;
  }

  .projects__yellow-cirlce2 {
    background-image: url(../public/assets/yellow-circle2.png);
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: -1;
    background-size: contain;
    bottom: 25%;
    left: -16%;
  }
  .single-project__container,
  .single-mobile-project__container {
    flex-direction: row;
    gap: 99px;
    align-items: end;
  }
  .single-project__container {
    gap: 28px;
  }
  .single-project__container:nth-of-type(2n + 1) .single-project__details {
    order: 2;
  }
  .singleMobileProject_img {
    height: 420px;
    order: 1;
    margin: 0;
  }
  .single-project__description-title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 123px;
  }
  .single-project__description-list li {
    font-size: 25px;
    line-height: 31px;
  }
  .single-project__icon-container,
  .single-mobile-project__icon-container {
    position: initial;
  }
  .single-mobile-project__icon-container {
    order: 2;
  }
  .single-project__icon-container {
    flex-direction: column;
    align-self: center;
    order: 1;
  }
  .single-project__container:nth-of-type(2n + 1)
    .single-project__icon-container {
    order: 0;
  }
  .single-project__icon-container_single-icon > svg {
    width: 54px;
    height: 54px;
  }
  .single-project__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .single-project__description-list {
    margin: 0;
  }
  .single-project__laptop-img {
    width: 550px;
    margin: 0;
    order: 1;
  }

  /* CONTACT */
  .contact-container {
    margin-bottom: 50px;
  }
  .contact-container__header {
    font-size: 50px;
    line-height: 62px;
  }
  .contact-container__description-box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 62px;
    row-gap: 20px;
  }
  .contact-container__description-box-bio {
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.03em;
    order: 0;
    margin: 0;
    align-self: center;
  }
  .contact-container__description-box-image {
    margin: 0;
    width: 400px;
  }
  .contact-container__icons {
    gap: 40px;
  }
  .contact-container__icons_single-icon-container a svg {
    width: 54px;
    height: 54px;
  }
  .contact-container__icons_single-icon-container:hover > span {
    font-size: 17px;
    line-height: 25px;
    bottom: -20px;
  }
  /* SKILLS */
  .skills__header {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 45px;
  }
  .skills__container-single-skill > img {
    width: 45px;
  }
  .skills__container-single-skill:hover > span {
    font-size: 20px;
    line-height: 25px;
    bottom: -33px;
  }
  /* FOOTER */
  .footer-container__top-text {
    font-size: 20px;
    line-height: 25px;
  }
  .footer-container__top svg {
    width: 32px;
    height: 32px;
  }
  .footer-container__author {
    font-size: 12px;
    line-height: 19px;
  }
  .footer-container__blue-circle {
    width: 259px;
    height: 259px;
    bottom: -200%;
    right: -7%;
  }
}
