:root {
  --accent-color-orange: #fe4e15;
  --accent-color-yellow: #fec600;
}

body {
  margin: 0 !important;
  font-family: "Red Hat Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#root {
  position: relative;
  overflow-x: hidden;
  overflow-y: clip;
  padding: 20px 20px 10px 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* _____________________________________________________________________________ */
/* SCREEN LAYOUT */
.layout-container__blue-circle {
  background-image: url(../public/assets/blue-circle.png);
  width: 92px;
  height: 92px;
  background-size: contain;
  position: absolute;
  top: -35px;
  left: -35px;
}

.layout-container__mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* _____________________________________________________________________________ */
/* HEADER */
.header-container {
  margin: 174px 0 70px 0;
}

.header-container__title {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 15px;
}

.header-container__box-paragraph {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: -0.01em;
}

/* _____________________________________________________________________________ */
/* PROJECTS */
.projects__yellow-cirlce {
  background-image: url(../public/assets/yellow-circle.png);
  width: 395px;
  height: 395px;
  position: absolute;
  z-index: -1;
  background-size: contain;
  right: -75%;
}

.projects__orange-circle {
  background-image: url(../public/assets/orange-circle.png);
  width: 250px;
  height: 250px;
  z-index: -1;
  background-size: contain;
  position: absolute;
  left: -46%;
}

.singleMobileProject_img {
  height: 368px;
  margin-bottom: 20px;
}

.single-project__laptop-img {
  width: 100%;
  margin-bottom: 20px;
}

.single-project__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
  position: relative;
}

.single-project__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #fdeed2;
  border-radius: 20px;
  padding: 14px;
}

.single-project__details-light {
  border: 1px solid #211d16;
}

.single-project__description-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  text-transform: capitalize;
  text-align: right;
  margin-bottom: 20px;
}

.single-project__description-list {
  margin-bottom: 10px;
}

.single-project__description-list li {
  list-style: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  text-transform: capitalize;
}

.single-project__icon-container {
  display: flex;
  gap: 17px;
  justify-content: center;
}

.single-project__icon-container_single-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.single-project__icon-container_single-icon a {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: inherit;
}

.single-project__icon-container_line {
  border: 1px solid #fdeed2;
}

/* _____________________________________________________________________________ */
/* CONTACT */
.contact-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.contact-container__header {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contact-container__description-box {
  display: flex;
  flex-direction: column;
}

.contact-container__description-box-image {
  width: 205px;
  box-shadow: 2px 15px 0px #fe4e15;
  border-radius: 50%;
  margin-bottom: 46px;
  align-self: center;
}

.contact-container__description-box-bio {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  margin-bottom: 23px;
  order: 2;
}

.contact-container__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

contact-container__icons_single-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container__icons_single-icon-container > span {
  display: none;
}

.visible {
  display: inline;
}

/* _____________________________________________________________________________ */
/* SKILLS */
.skills__header {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.skills__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

.skills__container-single-skill > img {
  width: 20px;
}

.skills__container-single-skill > img:hover {
  /* box-shadow: 2px 2px 0px #fe4e15; */
  box-shadow: 0px 3px 0px rgba(254, 78, 21, 0.5);
}

.skills__container-single-skill {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.skills__container-single-skill > span {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 7px;
  line-height: 9px;
  letter-spacing: 0.05em;
}

/* _____________________________________________________________________________ */
/* FOOTER */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
}

.footer-container__top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-container__top-text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
}

.footer-container__author {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 7px;
  line-height: 9px;
  letter-spacing: 0.05em;
}

.footer-container__blue-circle {
  background-image: url(../public/assets/blue-circle.png);
  width: 92px;
  height: 92px;
  background-size: contain;
  position: absolute;
  right: -25px;
  bottom: -50px;
}

/* _____________________________________________________________________________ */
/* OVERRIDES */
.MuiPaper-root {
  box-shadow: none !important;
}
